<header class="navbar navbar-expand-lg navbar-dark navbar-nav">
	<div class="container-fluid">
		<%= link_to "Tender App", root_path, id: "logo" %>
		<nav>
			<ul class="navbar-nav">
				<li class="nav-item"><%= link_to "Home", root_path %></li>
				<li class="nav-item"><%= link_to "About", about_path %></li>
					<% if current_user %>
						<li><%=link_to "Account", edit_user_registration_path %></li>
						<li><%=link_to "Logout", destroy_user_session_path, method: :delete %></li>
					<% else %>
						<li><%=link_to "Sign Up", new_user_registration_path %></li>
						<li><%=link_to "Login", new_user_session_path %></li>
					<% end %>
			</ul>
		</nav>
	</div>
</header>